/* @import "./../../fonts/montserrat/montserrat.css"; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
} */

.mainSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/d0e25d258f835d649b6691b4/Untitled5.jpg);
    background-size: cover;
}

img {
    object-fit: contain;
    background-size: contain;
}

.item{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: antiquewhite;
    font-size: 1.5em
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.7em;
}

.rectangle {
	width: 16px;
	height: 180px;
	background: #f44336;
    border-radius: 4px;
}